body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: 'Poppins', sans-serif;
}

#form {
    width: 450px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    left: 10%;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align:center;
    font-size: 50px;
}

#form button {
    padding: 10px;
    margin-top: 50px;
    width: 100%;
    color:  white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}

.navbar-brand{
    position: relative;

}

.navbar {
    background-color: #f0f0f0;
    }
body {
    margin: 0;
    padding: 0;
    background-color:#0f2027;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}
.navbar-dark .navbar-nav .nav-link:not(.disabled):hover {
    color: #007BFF;
}
.navbar-dark .navbar-toggler-icon {
    background-color: #FF5733;
}
.btn-outline-warning {
    background: linear-gradient(135deg, #FFA07A, #FF5733);
    border-color: #0f2027;
} 

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
        margin: 0;
        padding: 0;
        background-size: cover;
        background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: 'Poppins', sans-serif;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #ddd;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3)
}
.container .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.container .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  color: #222222;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
  background: blue;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background: #222222;
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color: #232323;
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}